*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

.result__video-container {
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
} 

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.result__video-container, 
.content__list {
  position: relative;
}

.preloader {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #FFF;
  text-decoration: none;
}

.content__video-card-description {
  margin-block-start: 6px;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  inline-size: 212px;
}

.search-form__textfield {
  border: none;
  border-block-start: 1px solid #FFF;
  border-block-end: 1px solid #FFF;
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
  block-size: 27px;
  inline-size: 225px;
}

.button {
  border: 1px solid #FFF;
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  block-size: 34px;
}

.button:hover {
  cursor: url(./cursor.png);
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
  block-size: 34px;
}

.more-button {
  inline-size: 100%;
}

.search-form__pseudo-checkbox {
  position: relative;
  border: 1px solid #FFF;
  cursor: pointer;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #FFF;
  transform: translate(-50%, -50%);
  inline-size: 15px;
  block-size: 15px;
  inset-block-start: 50%;
  inset-inline-start: 50%;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFF;
}

.search-form__label:hover,
.button:hover {
  text-decoration: underline;
  cursor: url(../styles/cursor.png), pointer;
}

.search-form__label .search-form__textfield:hover {
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.search-form__label-none:hover {
  text-decoration: none;
}

.button:active {
  background-color: #545050;
}

.search-form__textfield:hover {
  cursor: url(../styles/cursor-input.png), pointer;
}

.search-form__submit-button:focus-visible {
  border: 1px solid #FFF;
  inline-size: 198px;
  block-size: 38px;
}

.more-button:focus-visible {
  border: 1px solid #FFF;
  block-size: 38px;
  inline-size: 401px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none; /* Сброс обводки */
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus-visible {
  margin: 2px;
  border: 1px solid #FFF;
  inline-size: 398px;
  block-size: 107px;
}

.search-form__label-text {
  padding-inline-start: 5px;
}

.title {
  position: relative; 
  margin-block-end: 26px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  inset-block-start: 3px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.content__list {
  overflow: hidden scroll;
  block-size: 298px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px; 
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 107px;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 200px;
}

.content__card-link {
  display: block;
}






 